<%- include('header'); -%>
<div class="main_div">
      <div class="container">
        <div class="row">
      
          <div class="col-sm-6">
            <h1 class="main_text">SECURE BANK</h1>
            <p class="big-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. 
            </p>
          </div>
      
          <div class="col-sm-6">
            <img src="/image/12.png" class=" mt-lg-5" width="560" height="345">
          </div>
      
        </div>
      
      </div>
    </div>
</div>
<%- include('footer'); -%>
